In [1]:
import pandas as pd
import numpy as np

In [8]:
fnlttSingAcntAll_df = pd.read_csv('../../data/fn_data/ fnlttSinglAcntAll_2022_raw_data.csv')
fnlttSingAcntAll_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392020 entries, 0 to 392019
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   rcept_no           392020 non-null  int64
 1   reprt_code         392020 non-null  int64
 2   bsns_year          392020 non-null  int64
 3   corp_code          392020 non-null  int64
 4   sj_div             392020 non-null  object
 5   sj_nm              392020 non-null  object
 6   account_id         392020 non-null  object
 7   account_nm         392020 non-null  object
 8   account_detail     392020 non-null  object
 9   thstrm_nm          392020 non-null  object
 10  thstrm_amount      376140 non-null  float64
 11  frmtrm_nm          197894 non-null  object
 12  frmtrm_amount      190088 non-null  float64
 13  bfefrmtrm_nm       107001 non-null  object
 14  bfefrmtrm_amount   100100 non-null  float64
 15  ord                392020 non-null  int64
 16  currency           392020 non-null  object
 17  thstrm_add_amount  44924 non-null   float64
 18  frmtrm_q_nm        193974 non-null  object
 19  frmtrm_q_amount    185292 non-null  float64
 20  frmtrm_add_amount  45015 non-null   float64
dtypes: float64(6), int64(5), object(10)
memory usage: 62.8+ MB

In [ ]:
fnlttSingAcntAll_indi_df = fnlttSingAcntAll_df.loc[fnlttSingAcntAll_df['account_nm'].isin(indicators)]
# fnlttSingAcntAll_indi_df.head()

In [45]:
# indicators = ['유동부채','비유동부채','단기차입금','유동성장기부채','사채','장기차입금','총자산','영업이익','유형자산상각비','무형자산상각비','유동부채', 
# '유동자산','총부채','총자본','이자비용','매출액','종업원수','순이익','이익잉여금','유형자산','재고자산','매입채무','매출채권처분손실','세전계속사업이익'
# ,'당기순이익','자기자본','현금및현금성자산','단기투자증권','영업현금흐름유입','영업활동현금흐름']

# indicators = ['유동부채','비유동부채','단기차입금','유동성장기부채','사채','장기차입금','자산총계','영업이익','유형자산상각비','무형자산상각비','유동부채', 
# '유동자산','부채총계','자본총계','이자비용','매출액','종업원수','순이익','이익잉여금','유형자산','재고자산','매입채무','매출채권처분손실','세전계속사업이익'
# ,'당기순이익','자기자본','현금및현금성자산','단기투자증권','영업현금흐름유입액','영업활동현금흐름']

indicators = ['유동부채','비유동부채','단기차입금','유동성장기부채','사채','장기차입금','자산총계','영업이익','유형자산상각비','무형자산상각비','유동부채', 
'유동자산','부채총계','자본총계','이자비용','매출액','당기순이익','이익잉여금','유형자산','재고자산','매입채무','매출채권처분손실','당기순이익','자본총계','현금및현금성자산','단기투자증권']
err_list = []
for nm in indicators:
    if fnlttSingAcntAll_df.loc[fnlttSingAcntAll_df['account_nm']==nm].__len__() ==0:
        err_list.append(nm)

err_list

[]

In [9]:
fnlttSingAcntAll_11011_df = fnlttSingAcntAll_df.loc[fnlttSingAcntAll_df['reprt_code']==11011].copy()
fnlttSingAcntAll_11011_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 107422 entries, 0 to 391732
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   rcept_no           107422 non-null  int64
 1   reprt_code         107422 non-null  int64
 2   bsns_year          107422 non-null  int64
 3   corp_code          107422 non-null  int64
 4   sj_div             107422 non-null  object
 5   sj_nm              107422 non-null  object
 6   account_id         107422 non-null  object
 7   account_nm         107422 non-null  object
 8   account_detail     107422 non-null  object
 9   thstrm_nm          107422 non-null  object
 10  thstrm_amount      100881 non-null  float64
 11  frmtrm_nm          107422 non-null  object
 12  frmtrm_amount      100703 non-null  float64
 13  bfefrmtrm_nm       107001 non-null  object
 14  bfefrmtrm_amount   100100 non-null  float64
 15  ord                107422 non-null  int64
 16  currency           107422 non-null  object
 17  thstrm_add_amount  0 non-null       float64
 18  frmtrm_q_nm        0 non-null       object
 19  frmtrm_q_amount    0 non-null       float64
 20  frmtrm_add_amount  0 non-null       float64
dtypes: float64(6), int64(5), object(10)
memory usage: 18.0+ MB

In [46]:
indicators = ['유동부채','비유동부채','단기차입금','유동성장기부채','사채','장기차입금','자산총계','영업이익','유형자산상각비','무형자산상각비','유동부채', 
'유동자산','부채총계','자본총계','이자비용','매출액','당기순이익','이익잉여금','유형자산','재고자산','매입채무','매출채권처분손실','당기순이익','자본총계','현금및현금성자산','단기투자증권']

In [47]:
fnlttSingAcntAll_11011_indi_df = fnlttSingAcntAll_11011_df.loc[fnlttSingAcntAll_11011_df['account_nm'].isin(indicators)]
fnlttSingAcntAll_11011_indi_df.head()

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,...,frmtrm_nm,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_amount,ord,currency,thstrm_add_amount,frmtrm_q_nm,frmtrm_q_amount,frmtrm_add_amount
0,20230316000799,11011,2022,173944,BS,재무상태표,ifrs-full_CurrentAssets,유동자산,-,제 43 기,...,제 42 기,6.865631e+10,제 41 기,4.230933e+10,1,KRW,NaN,NaN,NaN,NaN
1,20230316000799,11011,2022,173944,BS,재무상태표,ifrs-full_CashAndCashEquivalents,현금및현금성자산,-,제 43 기,...,제 42 기,3.435252e+10,제 41 기,8.231505e+09,2,KRW,NaN,NaN,NaN,NaN
6,20230316000799,11011,2022,173944,BS,재무상태표,ifrs-full_Inventories,재고자산,-,제 43 기,...,제 42 기,1.769345e+10,제 41 기,1.894971e+10,7,KRW,NaN,NaN,NaN,NaN
10,20230316000799,11011,2022,173944,BS,재무상태표,ifrs-full_PropertyPlantAndEquipment,유형자산,-,제 43 기,...,제 42 기,6.648125e+10,제 41 기,6.544913e+10,11,KRW,NaN,NaN,NaN,NaN
15,20230316000799,11011,2022,173944,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 43 기,...,제 42 기,1.798182e+11,제 41 기,1.920152e+11,16,KRW,NaN,NaN,NaN,NaN

In [51]:
fnlttSingAcntAll_11011_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 107422 entries, 0 to 391732
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   rcept_no           107422 non-null  int64
 1   reprt_code         107422 non-null  int64
 2   bsns_year          107422 non-null  int64
 3   corp_code          107422 non-null  int64
 4   sj_div             107422 non-null  object
 5   sj_nm              107422 non-null  object
 6   account_id         107422 non-null  object
 7   account_nm         107422 non-null  object
 8   account_detail     107422 non-null  object
 9   thstrm_nm          107422 non-null  object
 10  thstrm_amount      100881 non-null  float64
 11  frmtrm_nm          107422 non-null  object
 12  frmtrm_amount      100703 non-null  float64
 13  bfefrmtrm_nm       107001 non-null  object
 14  bfefrmtrm_amount   100100 non-null  float64
 15  ord                107422 non-null  int64
 16  currency           107422 non-null  object
 17  thstrm_add_amount  0 non-null       float64
 18  frmtrm_q_nm        0 non-null       object
 19  frmtrm_q_amount    0 non-null       float64
 20  frmtrm_add_amount  0 non-null       float64
dtypes: float64(6), int64(5), object(10)
memory usage: 18.0+ MB

In [50]:
pivot_df=fnlttSingAcntAll_11011_indi_df.pivot(index=['corp_code', 'bsns_year', 'reprt_code','fs_div'], columns='account_nm', values='frmtrm_amount').reset_index()
pivot_df

ValueError: Index contains duplicate entries, cannot reshape

In [48]:
for nm in indicators:
    print(nm + ' count : ' + str(fnlttSingAcntAll_11011_df.loc[fnlttSingAcntAll_11011_df['account_nm']==nm].__len__()))

유동부채 count : 702
비유동부채 count : 702
단기차입금 count : 426
유동성장기부채 count : 76
사채 count : 140
장기차입금 count : 354
자산총계 count : 712
영업이익 count : 211
유형자산상각비 count : 2
무형자산상각비 count : 198
유동부채 count : 702
유동자산 count : 701
부채총계 count : 712
자본총계 count : 696
이자비용 count : 222
매출액 count : 371
당기순이익 count : 859
이익잉여금 count : 335
유형자산 count : 711
재고자산 count : 668
매입채무 count : 280
매출채권처분손실 count : 22
당기순이익 count : 859
자본총계 count : 696
현금및현금성자산 count : 710
단기투자증권 count : 6

In [21]:
acc_nm = fnlttSingAcntAll_11011_indi_df['account_nm'].unique().tolist()

In [22]:

indicators, acc_nm
for a_nm in in

(['유동부채',
  '비유동부채',
  '단기차입금',
  '유동성장기부채',
  '사채',
  '장기차입금',
  '총자산',
  '영업이익',
  '유형자산상각비',
  '무형자산상각비',
  '유동부채',
  '유동자산',
  '총부채',
  '총자본',
  '이자비용',
  '매출액',
  '종업원수',
  '순이익',
  '이익잉여금',
  '유형자산',
  '재고자산',
  '매입채무',
  '매출채권처분손실',
  '세전계속사업이익',
  '당기순이익',
  '자기자본',
  '현금및현금성자산',
  '단기투자증권',
  '영업현금흐름유입',
  '영업활동현금흐름'],
 ['유동자산',
  '현금및현금성자산',
  '재고자산',
  '유형자산',
  '유동부채',
  '매입채무',
  '단기차입금',
  '비유동부채',
  '장기차입금',
  '영업활동현금흐름',
  '매출액',
  '무형자산상각비',
  '이자비용',
  '당기순이익',
  '유동성장기부채',
  '이익잉여금',
  '영업이익',
  '사채',
  '유형자산상각비',
  '매출채권처분손실',
  '단기투자증권'])

In [12]:
def find_financial_indicators(corp_doce,year, indicators):
    # report = dart.finstate(stock_name, year)
    if report.empty:
        data = [[stock_name,year]+[np.nan]*len(indicators)]
        data = [[stock_name,year-1]+[np.nan]*len(indicators)]
        data = [[stock_name,year-2]+[np.nan]*len(indicators)]
    
        return pd.DataFrame(data,columns=['기업','연도']+indicators)
    else:
        report = report[report['account_nm'].isin(indicators)]
        if sum(report['fs_nm']=='연결재무제표')>0:
            report = report.loc[report['fs_nm']=='연결재무제표']
        else:
            report = report.loc[report['fs_nm']=='재무제표']
        data = []
        for year,c in zip([year,year-1,year-2],['thstrm_amount','frmtrm_amount','bfefrmtrm_amount']):
            record = [stock_name, year]
            for indic in indicators:
                if sum(report['account_nm']==indic) > 0:
                    value = report.loc[report['account_nm']==indic,c].iloc[0]
                else:
                    value = np.nan
                record.append(value)
            data.append(record)
        return pd.DataFrame(data, columns=['기업','연도']+indicators)